---
import ContentLayout from "../layouts/ContentLayout.astro";
import Card from "../components/Card.tsx";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
const sortedArticles = articles.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

const pageTitle = "Gaubee's Blog";
---

<ContentLayout title={pageTitle}>
  <div class="px-4">
    <h1 class="mb-2 text-3xl font-bold">Gaubee's Feed</h1>
    <p class="text-lg text-zinc-600 dark:text-zinc-400">
      A collection of articles and events.
    </p>
  </div>

  <div
    class="mt-8 flex flex-col border-r border-l border-zinc-200 dark:border-zinc-700"
  >
    {
      sortedArticles.map((post) => (
        <Card
          client:visible
          href={`/${post.collection}/${post.id}/`}
          title={post.data.title || post.id}
          date={post.data.date.toISOString()}
          type={post.collection}
        />
      ))
    }
  </div>
</ContentLayout>
