---
import ContentLayout from "../layouts/ContentLayout.astro";
import PreviewCard from "../components/cards/PreviewCard.tsx";
import MarkdownRenderer from "../components/MarkdownRenderer.tsx";
import { getSiteData } from "@/lib/getSiteData";

const { allPosts } = await getSiteData();

const pageTitle = "Gaubee's Blog";
---

<ContentLayout title={pageTitle}>
  <div class="px-4">
    <h1 class="mb-2 text-3xl font-bold">Gaubee's Feed</h1>
    <p class="text-lg text-zinc-600 dark:text-zinc-400">
      A collection of articles and events.
    </p>
  </div>

  <div class="mt-8 flex flex-col">
    {
      allPosts.map((post) => (
        <div class="py-4" id={post.id}>
          <PreviewCard
            client:visible
            href={`/${post.collection}/${post.id}`}
            collection={post.collection}
            images={post.images}
            title={post.title}
            datetime={post.data.datetime}
          >
            <MarkdownRenderer client:only markdown={post.previewBody} />
          </PreviewCard>
        </div>
      ))
    }
  </div>
</ContentLayout>
