---
import ContentLayout from "../layouts/ContentLayout.astro";
import PreviewCard from "../components/cards/PreviewCard.tsx";
import MarkdownRenderer from "../components/MarkdownRenderer.tsx";
import { getSiteData } from "@/lib/getSiteData";
// import { obj_pick } from "@gaubee/util";

const { allPosts } = await getSiteData();

const pageTitle = "Gaubee's Blog";
// const f = 6;
---

<ContentLayout title={pageTitle}>
  <div class="px-4">
    <h1 class="mb-2 text-3xl font-bold">Gaubee's Feed</h1>
    <p class="text-lg text-zinc-600 dark:text-zinc-400">
      A collection of articles and events.
    </p>
  </div>

  <div class="mt-8 flex flex-col">
    {
      // allPosts.slice(0 + f, 2 + f)
      allPosts.map((post) => (
        <div class="py-4" id={post.id}>
          {/* <code>
            {JSON.stringify(obj_pick(post, "title", "data", "previewBody"))}
          </code> */}
          <PreviewCard
            client:load
            href={`/${post.collection}/${post.id}`}
            collection={post.collection}
            images={post.images}
            title={post.title ?? post.id}
            datetime={post.data.datetime}
          >
            <MarkdownRenderer
              markdown={post.previewBody}
              streamdown={{ controls: { mermaid: false } }}
            />
          </PreviewCard>
        </div>
      ))
    }
  </div>
</ContentLayout>
