---
import RootLayout from "./RootLayout.astro";
import LeftSidebar from "../components/LeftSidebar.tsx";
import BackToTop from "../components/BackToTop.tsx";
import MobileNav from "../components/MobileNav.tsx";
import TableOfContentsCard from "@/components/cards/TableOfContentsCard.tsx";
import TagsCard from "@/components/cards/TagsCard.tsx";
import ArchiveCard from "@/components/cards/ArchiveCard.tsx";
import { getSiteData } from "@/lib/getSiteData.ts";
import type { MarkdownHeading } from "astro";

interface Props {
  title: string;
  headings?: MarkdownHeading[];
}

const { title, headings = [] } = Astro.props;
const { postsByMonth, allTags } = await getSiteData();
---

<RootLayout title={title}>
  <div class="mx-auto flex max-w-7xl">
    <aside
      class="sticky top-0 hidden h-screen w-64 flex-shrink-0 py-8 pr-8 lg:block"
    >
      <LeftSidebar />
    </aside>

    <main class="min-w-0 flex-1">
      <MobileNav client:load title={title}>
        <div class="space-y-4">
          <TableOfContentsCard client:load headings={headings} />
          <!-- <TagsCard client:load tags={allTags} />
          <ArchiveCard client:load postsByMonth={postsByMonth} /> -->
        </div>
      </MobileNav>

      <div class="p-6">
        <slot />
      </div>
    </main>

    <aside
      class="sticky top-0 hidden h-screen w-64 flex-shrink-0 py-8 pl-8 lg:block"
    >
      <div class="space-y-4">
        <TableOfContentsCard headings={headings} />
        <TagsCard tags={allTags} />
        <ArchiveCard postsByMonth={postsByMonth} />
      </div>
    </aside>
  </div>

  <BackToTop client:load />
</RootLayout>
